:root {
    /* Colors */
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

*,*::before,*::after {
    box-sizing: inherit;
}

img{
    max-width: 100%;
    display: block;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 1.5rem;
    background-color: hsl(220, 15%, 85%);
    margin: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__container {
    background-color: var(--White);
    padding: 1.5rem;
    border-radius: 2rem;
    max-width: 45rem;
}

.main__image {
    border-radius: 2rem;
}

.main__heading{
    font-size: 1.9rem;
    text-align: center;
    font-weight: 700;
    color: var(--Dark-blue);
}

.main__paragraph {
    text-align: center;
    font-weight: 400;
    color:var(--Grayish-blue);
}

@media (min-width: 576px) { 
     .main__heading {
         font-size: 3.2rem;
     }
    .main__paragraph {
        font-size: 2.4rem;
    }
}

.main__attribution {  text-align: center; }
.main__attribution a { color: hsl(228, 45%, 44%); }